.choose{
    position: absolute;
                        right: 1px;
                        background-color: rgba(148, 141, 141, 0.7);
                        color: rgb(223, 192, 16); width: 285px;
                        font-size: 14px; height: 430px; display: flex; justify-content: center; align-items: center; flex-direction: column;
}
.hide{
    opacity: 0;
}
.hide:hover{
    opacity: 1;
}